<h1>KarmaVille's Most Famous</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Karma</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <%= render 'user_row', :user => user %>
  <% end %>  
</table>

<div class="pagination">
  <ul>
    <li> <%= link_to "#{(@middle_page - 3)}", page_path(@middle_page - 3) %></li>
    <li><%= link_to "#{(@middle_page - 2)}", page_path(@middle_page - 2) %></li>
    <li><%= link_to "#{(@middle_page - 1)}", page_path(@middle_page - 1) %></li>
    <li><%= link_to "#{(@middle_page)}", page_path(@middle_page) %></li>
    <li><%= link_to "#{(@middle_page + 1)}", page_path(@middle_page + 1) %></li>
    <li><%= link_to "#{(@middle_page + 2)}", page_path(@middle_page + 2) %></li>
    <li><%= link_to "#{(@middle_page + 3)}", page_path(@middle_page + 3) %></li>
  </ul>
</div>
